/* GLobal Start */
.container {
    max-width: 1170px;
    width: 100%;
    margin: 30px auto;
}
/* GLobal end */

/* Header start */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 133px;
}

.nav-bar > ul {
    display: flex;
}
.nav-li > a {
    color: #303134; /*Grey*/
    font-size: 15.74px;
    font-family: 'Raleway', sans-serif;
}
.nav-li:not(:last-child) {
    margin-right: 50px;
}
.bars {
    cursor: pointer;
    width: 35px;
    display: none;
}

.logo > img, .bars > img {
    width: 100%;
}

/* Header end */

/* Section 1 start */
.s-1 {
    width: 1360px;

}
.s-1 > div {
    background-image: url(../img/clip.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 120px;
    height: 538px;
  }
  .s-1 > div > h2 {
    font-size: 78.74px;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
  }
  
  .s-1 > div > h3 {
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
  }


/* Section 1 end */

/*section2 start*/

.box1 {
    width: 1171.57px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }
  
  .box {
    width: 269.07px;
    height: 327.42px;
    background-color: #FFFFFF;
    line-height: 25px;
  }
  
  .head {
    font-size: 18px;
    color: #1A1A1B;
    font-family: 'Raleway', sans-serif;
  }
  
  .p {
    font-size: 16px;
    color: #8D8D8D;
    font-family: 'Raleway', sans-serif;
  }
  
  .discover {
    color: #8D8D8D;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5px;
  }
  
  .head1 {
    font-size: 26px;
    color: #1A1A1B;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 55px;
  }
  /*section2 end*/